language: python
sudo: false

cache:
    directories:
        - $HOME/.cache/pip

matrix:
    include:
        - python: 2.6
          env: TOXENV=py26
        - python: 2.7
          env: TOXENV=py27
        - python: 3.3
          env: TOXENV=py33
        - python: 3.4
          env: TOXENV=py34
        - python: 3.5
          env: TOXENV=py35
        - python: 2.7
          env: TOXENV=docs
        - python: 2.7
          env: TOXENV=pep8

install:
    - pip install tox
    - wget https://bitbucket.org/pypy/pypy/get/default.tar.bz2 -O `pwd`/../pypy.tar.bz2
    - tar -xf `pwd`/../pypy.tar.bz2 -C `pwd`/../
script:
    - ./.travis/run.sh
notifications:
    email: false
